<body>
	<nav class="navbar navbar-inverse" role="navigation">
	<h3 class="navbar-text">Agoge</h3>
	<a href="#" class="navbar-text navbar-right">Logout</a>
	<h4 class="navbar-text navbar-right">user@vertisinfotech.com</h4>
	<input type="hidden" value="1" id="userinfo">
	</nav>
	<div id="container">Loading...</div>
</body>
